
body{
    margin: 0px 0px;
    background-color: #F5F5F5;
    width: 1100px;
    margin: 15px auto;

}
nav{
    display: flex;
    width: 1100px;
}
.hero-container{
    background-color: #C6E4D6;
    height: 550px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;

}
.hero-container img{
    width: 400px;
    height: 200px;
}

.hero-container h1{
    width: 400px;
    height: 300px;
}