
body{
    margin: 0px 0px;
    background-color: #F5F5F5;
    width: 1100px;
    margin: 0px auto;

}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    display: flex;
    width: 1100px;
}
.hero-container{
    background-color: #C6E4D6;
    height: 550px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;

}
.hero-container img{
    width: 400px;
    height: 380px;
    padding: 90px 50px;

}

.hero-container h1{
    width: 400px;
    height: 200px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0%;
}
nav h2{
    font-size: 26px;
}

.hero-text p{
    color: #0E0E0E;
    opacity: 50%;
    font-weight: 500;
    font-size: 22px;
}

.hero-text{
    padding-top: 90px;
    padding-left: 50px;
}
.hero-btn{
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    border: none;
    width: 200px;
    height: 55px;
    font-weight: 700;
    font-size: 14px;
}

/* here hero content and start main content */