
body{
    margin: 0px 0px;
    background-color: #F5F5F5;
    width: 1100px;
    margin: 0px auto;

}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    display: flex;
    width: 1100px;
}
.hero-container{
    background-color: #C6E4D6;
    height: 550px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;

}
.hero-container img{
    width: 400px;
    height: 380px;
    padding: 90px 50px;

}

.hero-container h1{
    width: 400px;
    height: 200px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0%;
}
nav h2{
    font-size: 26px;
}

.hero-text p{
    color: #0E0E0E;
    opacity: 50%;
    font-weight: 500;
    font-size: 22px;
}

.hero-text{
    padding-top: 90px;
    padding-left: 50px;
}
.hero-btn{
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    border: none;
    width: 200px;
    height: 55px;
    font-weight: 700;
    font-size: 14px;
}

/* here hero content and start main content */

.pillar-container{
    display: flex;
    /* justify-content: space-around; */
    gap: 32px;

}

.pillars{
    width: 250px;
    height: 240px; 
    background-color: white;
    border-radius: 16px;

}

.pillar-content{
    padding: 20px;
}
.pillars h4{
    font-weight: bold;
    font-size: 18px;
    color: #0E0E0E;
    opacity: .8;

}
.pillars p {
    font-size: 15px;
    color: #0E0E0E;
    opacity: 70%;
}

/* vision of future */

/* opacity of paragraph which is use many times */
.opacity{
    opacity: .7;
}
.item-container{
    display: flex;
    gap: 20px;
}

.item{
    width: 335px;
    height: 280px;
    border-radius: 16px;
}
.item-content{
    padding: 10px;
}

.item button{
    width: 110px;
    height: 35px ;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
}

.blue-btn{
    background-color: #5490F5;
}
.green-btn{
    background-color: #09A15C;
}
.yellow-btn{
    
 background-color: #FFC239;
}

.blue{
    background-color: #5490F5;
    opacity: 20%;
}
