body{
    margin: 0 0;
    background-color: #F5F5F5;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 25px 50px;
}

nav h2{
    font-weight: bold;
    font-size: 26px;

}
.sign-in{
    /* margin-top: 20px; */
    color: #006A50;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}
.main-div{
    background-color: #006A50;
}
